@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	position: relative;
}

body {
	min-height: 100vh;
	height: 1px;
}

@media screen and (min-width: 768px) {
	:root {
		font-size: calc(18px + 2 * ((100vw - 768px) / 598));
	}
}
@media screen and (min-width: 1366px) {
	:root {
		font-size: 20px;
	}
}

.custom-input {
	@apply input input-sm bg-transparent text-inherit focus:border-base-100 relative overflow-ellipsis border-slate-300 disabled:opacity-40;
}

.custom-input-invalid {
	@apply border-custom-red;
}

.border-cl {
	box-shadow:
		2px 0 0 0 #000,
		0 2px 0 0 #000,
		2px 2px 0 0 #000,
		2px 0 0 0 #000 inset,
		0 2px 0 0 #000 inset;
}

.custom-table {
	@apply table table-sm overflow-x-auto bg-custom-white rounded-md shadow-md w-full;
}

.grid-divider {
	display: grid;
	grid-template-columns: 1fr 3em 1fr;
}

td > * {
	@apply mx-auto;
}

td {
	@apply text-center;
}
